.cards-container {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  background-color: var(--color-primary);
  padding: var(--padding-medium) 0;
  border-radius: var(--radius-medium);
  letter-spacing: -0.5px;
}

.card {
  flex: 1;
  position: relative;
  border-right: 0.5px solid var(--color-text-primary);
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  text-align: start;
  width: 100%;
  padding: 0 var(--gap-large);
}

.card h3 {
  font-size: var(--font-size-large);
  text-transform: uppercase;
  color: var(--color-accent);
  display: block;
  overflow: visible;
  text-overflow: clip;
}

.card p {
  font-size: var(--font-size-medium);
  line-height: 1.5;
}

.card:last-child {
  border-right: none;
}

@media (min-width: 820px) and (max-width: 1024px) {
  .card {
    padding: 0 var(--padding-small);
  }
}

@media (max-width: 820px) {
  .cards-container {
    align-items: start;
  }

  .cards {
    gap: var(--gap-small);
    background-color: var(--color-text-primary);
    border-radius: 0;
    padding: var(--padding-small) 0;
    justify-content: start;
  }

  .card {
    flex: 1;
    border-radius: var(--radius-large);
    padding: var(--padding-medium) var(--padding-medium);
  }

  .card h3 {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .card p {
    font-size: var(--font-size-small);
    line-height: 1.5;
  }
}
