.accordion-title {
  display: flex;
  gap: var(--gap-small);
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.accordion-item {
  border-radius: var(--radius-large);
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: var(--color-background-light);
  padding: var(--padding-medium) var(--padding-large);
  border: 1px solid var(--color-border);
  border-bottom-width: 3px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  cursor: pointer;
}

.accordion-header h3 {
  font-size: var(--font-size-medium);
  margin: 0;
}

.accordion-header .icon {
  font-size: var(--font-size-large);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: var(--color-background-dark);
  cursor: pointer;
  border: 2px solid var(--color-border);
}

.accordion-content {
  border-top: 1px solid #555;
  text-align: start;
  padding: var(--padding-small);
  font-size: var(--font-size-small);
  color: var(--color-border);
}

@media (max-width: 820px) {
  .accordion {
    gap: var(--gap-small);
    padding: var(--padding-small);
  }

  .accordion-item {
    padding: var(--padding-small);
  }
}
