#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.container > *:not(:first-child) {
  margin: 32px 80px;
}

@media (min-width: 820px) and (max-width: 1024px) {
  .container > *:not(:first-child) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 820px) {
  .container > *:not(:first-child) {
    margin: 20px;
  }
}
